AllowAgentForwarding            yes
AllowTcpForwarding              yes
AuthenticationMethods           publickey,keyboard-interactive:pam
AuthorizedKeysFile              authorized_keys
KbdInteractiveAuthentication    yes
PasswordAuthentication          no
PermitRootLogin                 no
PrintMotd                       yes
PubkeyAuthentication            yes
UseDNS                          yes
UsePAM                          yes
